@charset "UTF-8";
/* todas as demais Medias */

/* Typcal Device Breakpoints

Laptops e tela pequena – 769px — 1024px  
Para dispositivos móveis – 320px — 480px
iPads e tablets – 481px — 768px
Telas grandes e desktops – 1025px — 1200px
TV e telas extra grandes – 1201px e mais*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace; 
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    /* }  desnecessario */
    
    }
    main {
        width: 90vw;
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    main::after {
        content: 'Essa impressão foi feita através do site do msicon';
        text-decoration: overline;
    }
    img#phone { display: none;}
    img#tablet { display: none}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}
@media screen and (min-width:1201px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}